h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	color: grey;
	font-style: italic;
	text-shadow: 2px 2px black;
	text-align: center;
}

body {
	background-color: grey;
}

table {
	border: 1px solid grey;
	width: 750px;
	margin: auto;
	background-color: white;
}

td {
	border: 1px solid grey;
	margin: 0 auto;
}

.car-name {
	height: 70px;
}

#navbar {
	height: 400px;
}

#navbar a {
  display: inline-block;
  margin: 10px 0;
  background-color: #949494;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  border-left: 5px solid #33ADFF;
  display: block;
  border-radius: 1px;
}

#navbar a:hover {
	background: #786b59;
}

#title-img {
	width: 600px;
}

img {border-radius: 2px;
     margin: 1px
	 weight: 600px;
	 height: 400px;
}

.description {
	height: 150px;
}

p {
   font-style: normal;
   text-align:justify;
   font-size:20px;
   text-indent: 30px;
   padding: 10px;
}
